@model Naot_Lemida_Manage_V2.Models.City

@{
    ViewBag.Title = "מחיקת עיר";
}

<h2>מחיקת עיר</h2>

<h3>האם את/ה בטוח/ה שברצונך למחוק עיר זו?</h3>
<div>
    <h4>עיר</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

    }
</div>
