<ul>


    <div class="login">
        <div class="container">
            <div class="row">
                <form ng-submit="form.submitForm">
                    <div class="span9"> 
                        <div>{{form.user}} </div>
                        שם מלא <input ng-model="form.user.name" type="text">
                        <br/>
                        סיסמה <input ng-model="form.user.password" type="text"> 
                        <br/>
                    </div>
                    <br/>
                    <input type="submit" class="btn btn-primary pull-right" value="כניסה" />
                </form>
            </div>
        </div>
    </div>

     

</ul>









