<ul>


    <div class="login">
        <div class="container">
            <div class="row">
                <form ng-submit="form.submitForm">
                    <div class="span5"> 
                        <div>{{form.user}} </div>
                        שם מלא <input ng-model="form.user.name" type="text">
                        <br/>
                        סיסמה <input ng-model="form.user.password" type="text"> 
                        <br/>
                    </div>
                    <br/>
                    <input type="submit" class="btn btn-primary pull-right" value="כניסה" />
                </form>
            </div>
        </div>
    </div>

    
    <div class="info">
       
        <b><u>קצת על עצמינו</u></b>
        <br/>
        <br/>
    תכנית "נאות למידה" ע"ש נאות ויצמן ז"ל היא מודל חינוכי שנועד לסייע לתלמידים בכתות ז-יב, כדי לשפר את ההישגים הלימודיים של התלמידים ולחזק את חוסנם בהתמודדות עם קשיי למידה. בכל תיכון ופנימייה הוקם מרכז "נאות למידה" שבראשו רכז העוקב אחר צרכי התלמידים והתקדמותם ובונה תכנית תמיכה למידה עבורם. כ 900 תלמידי מוסדות האגודה לקידום החינוך מקבלים מידי שבוע סיוע לימודי ורגשי במסגרת התכנית. נמצא כי מעל 50% מהתלמידים שיפרו את ציוניהם במקצועות הליבה.
    
    </div>
     

</ul>









