<!DOCTYPE html>
<html ng-app="naot">
	
	<head>
	    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>	
         <link rel="stylesheet" type="text/css" href="css/app.css"/>	
	</head>

	<body>
	
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src = "js/angular.min.js"></script>
        <script type="application/javascript" src="js/angular-route.min.js"></script>
        <script type="application/javascript" src = "js/app.js"></script>
        
       <br/>
   <div class="nav" >   
        <div class="container-fluid">
            <div class="row-fluid">
                
               <div class="span3">
                   <div class="logo"><img src="images/learning.png"></div>
                </div>
                <div class="span2">
                    <a href="file:///C:/Users/Einav/Desktop/Naot_learning/index.html#/login" target="_self" ><br/>Login</a>
                </div>
                
                <div class="span2">
                    <a href="file:///C:/Users/Einav/Desktop/Naot_learning/index.html#/home" target="_self" ><br/>Home Page</a>
                </div>
                
                <div class="span2">
                    <a href="file:///C:/Users/Einav/Desktop/Naot_learning/index.html#/gallery" target="_self" ><br/>Gallery</a>
                </div>
                
                <div class="span2">
                    <a href="file:///C:/Users/Einav/Desktop/Naot_learning/index.html#/reports" target="_self" ><br/>Reports</a>
                </div>
                
            </div>
        </div>
</div> 
        <div ng-view ></div>
    
        
	</body>
</html>