<!DOCTYPE html>
<html ng-app="naot">
	
	<head>
        <link rel="stylesheet" type="text/css" href="  https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
<!--	    <link rel="styleshee/t" type="text/css" href="/public/css/bootstrap.min.css"/>	-->
<!--         <link rel="stylesheet" type="text/css" href="/public/css/app.css"/>-->
           
      
	</head>

	<body>
	
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
              <script  src = "/public/js/methods.js"></script>


     <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src = "/public/js/angular.min.js"></script>
         <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.js"></script>
        <script type="application/javascript" src="/public/js/angular-route.min.js"></script>
       <script type="application/javascript" src = "/public/js/app.js"></script>
      <script type="application/javascript" src = "/public/js/test-directive.js"></script>
              <script type="application/javascript" src = "/public/js/test-directive.js"></script>

    <nav>
  <ul class="right hide-on-med-and-down">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
        
         <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          
        
       <br/>
      
 
	</body>
    
</html>