.nav
{
    background-color: lightpink;
    font-family: Lucida Sans Unicode;
    font-size: 20px;
    text-align: center;
 
    
}


.login
{
    float:left;
    font-family: serif;
    font-size: 30px;
    text-align: center;
    display: flex;
    width: 60%;
    margin: auto;
    float: center;   
}


.logo
{
    height: 27%;
    width: 27%;
}

