


.login
{
    float:left;
    font-family: serif;
    font-size: 30px;
    text-align: center;
    display: flex;
    width: 60%;
    margin: auto;
    float: center;
    padding-right: 300px;
}


.logo
{
    height: 27%;
    width: 27%;
}


.ilike-blue-container 
{
    @extend .pink, .lighten-5;
}


.parallax-container
{
    height: "your height here";
}
    