


.login
{
    float:left;
    font-family: serif;
    font-size: 30px;
    text-align: center;
    display: flex;
    width: 60%;
    margin: auto;
    float: center;
    padding-right: 300px;
    
}


.logo
{
    height: 27%;
    width: 27%;
}


.ilike-blue-container 
{
    @extend .pink, .lighten-5;
}


.parallax-container
{
    height: "your height here";
}


.color
{
    background-color:;
  
      
        text-shadow:0 0 55px #fff, 0 0 55px #fff, 0 0 15px #fff, 0 0 20px black, 0 0 30px black, 0 0 80px black, 0 0 55px     black, 0 0 75px #49ff18 
}
    