<div class="hebrew">
    <div class="row" class ="right">
        <div class="col s12 m6 right" >

            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">הזנת שיעור</span>
                    <p>
                        ימים 
                        <datalist id = “days”>
                            <option label = “1” value = “ראשון”>
                            <option label = “2” value = “שני”>
                            <option label = “3” value = “שלישי”>
                            <option label = “4” value = “רביעי”>
                            <option label = “5” value = “חמישי”>
                            <option label = “6” value = “שישי”>
                        </datalist>


                        <input id = “mydays” list = “days”>
                        שעות
                        <datalist id = “hours”>
                            <option label = “1” value = “9:00”>
                            <option label = “2” value = “10:00”>
                            <option label = “3” value = “11:00”>
                            <option label = “4” value = “12:00”>
                            <option label = “5” value = “13:00”>
                        </datalist>

                        <input id = “myHours” list = “hours”>
                    </p>
                </div>

                <div class="card-action">
                    <a href="#">יציאה </a>
                    <a href="#">שלח</a>
                </div>
            </div>
        </div>
    </div>
</div>