@model Naot_Lemida_Manage_V2.Models.YearOfStudy

@{
    ViewBag.Title = "מחיקת שנת לימוד";
}

<h2>מחיקת שנת לימוד</h2>

<h3>האם את/ה בטוח/ה שהינך רוצה למחוק שנת לימוד זאת?</h3>
<div>
    <h4>שנת לימוד</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> 
         
        </div>
    }
</div>
