@model Naot_Lemida_Manage_V2.Models.YearOfStudy

@{
    ViewBag.Title = "פרטי שנת לימוד";
}

<h2>פרטי שנת לימוד</h2>

<div>
    <h4>שנת לימוד</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
